<div class="container">
  <div class="studyAbroadmain">
    <div *ngFor="let item of content">
      <div style="min-height: 400px;" *ngIf="(item.id == selectid)">
        <h3>{{item.title}} </h3><br>
        <p>{{item.text}}</p>
      </div>
    </div>
    <div class="studyAbroadgo">
      <div class="row">
        <div class="col-md-10">
          <p>
            <span class="go">上一篇：</span>
            <span *ngFor="let item of content">
                        <span *ngIf="(item.id == (selectid - 1))">
                            <a class="gotitle" (click)="go(item.id)">{{item.title}}</a>
                        </span>
            </span>
            <span *ngIf="(selectid == 1)">无</span>
          </p>
          <p>
            <span class="go">下一篇：</span>
            <span *ngFor="let item of content">
                        <span *ngIf="((item.id - 1) == selectid)">
                            <a class="gotitle" (click)="go(item.id)">{{item.title}}</a>
                        </span>
            </span>
            <span *ngIf="(selectid == length)">无</span>
          </p>
        </div>
        <div class="col-md-2">
          <a class="goback" (click)="golist()">返回列表</a>
        </div>
      </div>
    </div>
  </div>
</div>
