.studyAbroadlogo img {
    width: 100%;
    height: 100%;  
}
.studyAbroadnav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d0d0d0;
}
.studyAbroadnav .abouttitle{
    height: 100%;
}
.studyAbroadnav .abouttitle img{
    height: 100%;
}
.studyAbroadmain{
    min-height: 400px;
    padding: 10px 15px 10px 15px;
    background-color: white;
}
.godetails{
    cursor: pointer;
}

.gotitle{
    width: 220px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: pointer;
    display: inline-flex;
}
.go{
    display: inline-block;
    background: #bcbcbc;
    color: #fff;
    padding: 0 5px;
    margin-right: 6px;
    line-height: 25px;
    height: 25px;
}
.goback{
    display: inline-block;
    background: #bcbcbc;
    color: #fff;
    padding: 0 5px;
    margin-right: 6px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;    
    cursor: pointer;
}