/****  head top   ****/

.headtop {
  min-height: 110px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.headtop .row {
  min-height: 70px;
}

.headtop .row div img {
  height: 70px;
}

.headtop .row .logo {
  min-height: 70px;
  margin-top: 1.5%;
  text-align: center;
}

.headtop .row .searchform {
  /*min-height: 50px;*/
  padding-top: 3%;
  margin-bottom: 2%;
  text-align: center;
}

.btnform {
  margin-left: -40px;
  margin-top: 5px;
  border-style: none;
  outline: none;
  background-color: Transparent;
}
.btnform img {
  height: 20px !important;
}


/****  nav bar   ****/

.nav {
  min-height: 45px;
  width: 100%;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.nav .row div ul {
  height: 45px;
  width: 100%;
  line-height: 45px;
}

.nav .row div ul li {
  float: left;
  font-size: 18px;
  /*width: 11%;*/
  width: 123px;
  height: 45px;
  text-align: center;
}

.nav .row div ul li a {
  display: block;
}

.nav .row div ul li a:hover {
  background-color: #0099da;
  color: white;
}

.active {
  background-color: #0099da;
  color: white !important;
  text-decoration: none !important;
}


/****  main  ****/

.main {
  min-height: 500px;
}


/****  footer  ****/

.footer {
  height: 250px;
  width: 100%;
}

.footer .footbar {
  height: 40px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.footer .footbar .row div ul li:first-child {
  height: 38px;
  /*width: 9%;*/
  width: 112px;
  text-align: center;
  line-height: 38px;
  font-size: 18px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.footer .footmain {
  min-height: 165px;
  background-image: url(~assets/img/fm.png);
}

.footer .footmain .row div ul li {
  height: 38px;
  width: 100px;
  float: left;
  text-align: center;
  line-height: 38px;
  font-size: 18px;
}

.footer .footfoot {
  height: 45px;
  width: 100%;
  background-color: #0096d8;
}

.footer .footfoot .row div {
  text-align: center;
  height: 45px;
  line-height: 45px;
}

.footer .footfoot .row div p {
  color: white;
}


/*浮动窗口*/

.cg-flwindow {
  position: fixed;
  bottom: 50%;
  right: 0;
  margin-left: 560px;
  margin-bottom: -120px;
  z-index: 99;
}

.cg-flwindow div {
  margin: 0;
  padding: 0;
}

.cg-flwindow div div {
  margin: 0;
  padding: 0;
}

.cm-windowlist {
  list-style: none;
}

.cm-windowlist li {
  margin-bottom: 3px;
  background: #fff;
}

.cm-windowlist .box01 .a2 {
  height: 25px;
  padding-top: 50px;
  /*background-color: yellow;*/
  /*background: url(../images/ms1-main-icon35.png) no-repeat center 6px;*/
}

.cm-windowlist .box02 {
  position: relative;
}

.cm-windowlist .box02 .a1 {
  height: 25px;
  padding-top: 48px;
  /*background-color: red;*/
  /*background: url(../images/ms1-main-icon36.png) no-repeat center 10px;*/
}

.cm-windowlist li .a2 {
  display: block;
  width: 73px;
  height: 73px;
  color: #7e7e7e;
  text-align: center;
  font-size: 14px;
  border: 1px solid #e5e5e5;
}

.cm-windowlist .cm-phopen {
  position: absolute;
  left: -157px;
  top: -15px;
  width: 157px;
  height: 217px;
  color: #333;
  /*background-color: green;*/
  /*background: url(../images/ms1-main-icon39.png) no-repeat;*/
}

.cm-windowlist .cm-phopen img {
  margin-left: 14px;
  margin-top: 14px;
}

.f-imgresponsive {
  display: block;
  max-width: 100%;
  height: auto;
}
