.studyAbroadmain{
    min-height: 400px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    margin-top: 10px;
}
.godetails{
    cursor: pointer;
    display: block;
}
.go{
    display: inline-block;
    background: #bcbcbc;
    color: #fff;
    padding: 0 5px;
    margin-right: 6px;
    line-height: 25px;
    height: 25px;
}

.resultslist {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left:1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    background-color: white;
}
.resultslist  ul {
    height: 475px;
}
.resultslist ul li {
    /*font-size: 14px;
    line-height: 46px;*/
    border-bottom: 1px solid #ebebeb;
    height: 45px;
    line-height: 45px;
}
.resultslist ul li a {
    color: #999;
}

.page{
    margin-top: -29px;
}
.gopage{
    margin-top: 20px;
    margin-left: -60px;
}
.pageinput{
    width: 10%;
    height: 33px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}