<carousel></carousel>

<div class="content">
  <div class="row searchtitle">
    <div class="col-md-10 col-md-offset-1">
      <div class="row searchtitlebg">
        <div class="col-md-12">
          <span class="searchnum">搜索:{{selectwords}}，本次共找到相关页面约{{num}}条    >></span>
        </div>
      </div>
      <div class="row searchre">
        <div class="col-md-12">
          <span class="searchresults">搜索结果</span>
          <span><img src="assets/ico/glyphicons/png/glyphicons-349-hand-down.png" class="searchicon"/></span>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 resultslist">
      <ul id="ydsearch">
        <li *ngFor="let item of viewcontent">
          <a href=""><p>{{item.title}}</p></a>
          <span class="time">{{item.postTime}}</span>
        </li>
      </ul>
      <div id="page" class="row">
        <div class="col-md-8">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage" [boundaryLinks]="true" [maxSize]="maxSize"></pagination>
        </div>
        <div id="gopage" class="col-md-4">
          <form #form="ngForm" (ngSubmit)="setPage(form)">
            <span>共</span>
            {{pagenums}}
            <span>页&nbsp;&nbsp;&nbsp;</span>
            <span>跳转至第</span>
            <input class="pageinput" name="pagenum" [(ngModel)]="pagenum" type="text" maxlength="2"/>
            <span>页</span>
            <button type="submit" class="btn btn-info" [disabled]="!pagenum" (click)="setPage(pagenum)">跳转</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
