<div class="lunbo">
  <carousel>
    <slide>
      <img src="assets/img/lunbo1.jpg" alt="First slide">
    </slide>
    <slide>
      <img src="assets/img/lunbo2.jpg" alt="Second slide">
    </slide>
    <slide>
      <img src="assets/img/lunbo3.jpg" alt="Third slide">
    </slide>
  </carousel>
</div>
<div class="content">
  <div class="row searchtitle">
    <div class="col-md-10 col-md-offset-1">
      <div class="row searchtitlebg">
        <div class="col-md-12">
          <span><img src="assets/ico/glyphicons/png/glyphicons-31-pencil.png" class="searchicon"/></span>
          <span class="searchnum">搜索:{{selectwords}}，本次共找到相关页面约{{num}}条    >></span>
        </div>
      </div>
      <div class="row searchre">
        <div class="col-md-12">
          <span class="searchresults">搜索结果</span>
          <span><img src="assets/ico/glyphicons/png/glyphicons-349-hand-down.png" class="searchicon"/></span>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 resultslist">
        <ul>
          <li *ngFor="let item of content">
            <a href="">{{item}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
