.content {
    min-height: 400px;
}
.content .row {
    overflow: hidden;
}
.ydsearch{

}
/*.ydsearch li {

}*/
.ydsearch li a p {
    width: 200px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.searchtitle {
    height: 80px;
    line-height: 40px;
}
.searchtitle div .searchtitlebg {
    background: #e9e9e9;
    height: 40px;
}
.searchnum { 
    float: left;
}
.searchicon {
    height: 20px;
    float: left;
    margin-top: 10px;
}
.searchre {
    margin-top:10px;
}
.searchresults{
    font-size: 18px;
    padding: 0px 5px;
    color: #876a31;
    height: 38PX;
    line-height: 38PX;
    float: left;
}
.resultslist {
    border-top: 1px solid;
    height: 550px;
    background-color: white;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left:1px solid #ebebeb;
}
.resultslist  ul {
    height: 475px;
}
.resultslist ul li {
    /*font-size: 14px;
    line-height: 46px;*/
    border-bottom: 1px solid #ebebeb;
    height: 60px;
    margin-top: -15px;
}
.resultslist ul li a {
    color: #999;
    margin-left: 50px;
}
.time {
    float: right;
    margin-top: -25px;
}
.page{
    margin-top: -29px;
}
.gopage{
    margin-top: 20px;
    margin-left: -60px;
}
.pageinput{
    width: 10%;
    height: 33px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}