<carousel></carousel>

<div class="data">
  <div class="row">
    <div scroll class="col-md-6 col-md-offset-1">
      <div class="home1">
        <div class="hometitle">
          <div class="titlename">
            <span>home1</span>
          </div>
          <div class="jiantou">
            <span><img src="assets/ico/glyphicons/png/glyphicons-212-arrow-right.png" /></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <!--zuo tu-->
            <img src="assets/img/home1.jpg" />
          </div>
          <div class="col-md-5">
            <!--you liebiao-->
            <ul class="list">
              <li *ngFor="let item of newsdata">
                <a (click)="godetail(item.id,item.typeid)"><p>{{item.title}}</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home2">
        <div class="hometitle">
          <div class="titlename">
            <span>home2</span>
          </div>
          <div class="jiantou">
            <span><img src="assets/ico/glyphicons/png/glyphicons-212-arrow-right.png" /></span>
          </div>
        </div>
        <div class="">
          <div>
            <!--shang tu-->
          </div>
          <div>
            <!--xia liebiao-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="home3">
        home3
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="home4">
        <div class="hometitle">
          <div class="titlename">
            <span>home4</span>
          </div>
          <div class="jiantou">
            <span><img src="assets/ico/glyphicons/png/glyphicons-212-arrow-right.png" /></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <!--zuo tu-->
          </div>
          <div class="col-md-5">
            <!--you liebiao-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home5">
        <div class="hometitle">
          <div class="titlename">
            <span>home5</span>
          </div>
          <div class="jiantou">
            <span><img src="assets/ico/glyphicons/png/glyphicons-212-arrow-right.png" /></span>
          </div>
        </div>
        <div class="">
          <div>
            <!--shang tu-->
          </div>
          <div>
            <!--xia liebiao-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
