.carousel-inner>.item>img{
    display: initial !important;
}
.home1 {
    min-height: 408px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border:1px solid #d0d0d0;
    margin-top: 10px;
}
.home2 {
    min-height: 408px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border:1px solid #d0d0d0;
    margin-top: 10px;
}
.home3 {
    min-height: 485px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border:1px solid #d0d0d0;
    margin-top: 10px;
}

.hometitle {
    min-height: 40px;
    border-bottom: 2px dashed #d0d0d0;
}

.titlename {
    float: left;
    font-size: 22px;
    color: #414141;
}

.jiantou {
    float: right;
    padding-top: 3px;
}